<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Diary</title>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/base :: header"></th:block>
</div>
<h2 th:if="${curseLifted} == true">The curse has been lifted!</h2>
<h2 th:if="${curseLifted} == false">The curse hasn’t been lifted yet!</h2>
<form th:if="${curseLifted} == false" name="form" th:action="@{/diary}" method="POST">
    <button type="submit">Lift The Curse</button>
</form>
</body>
</html>